<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/samcoosh/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="samcoosh" />
            <add key="ClearTextPassword" value="08cfc107e454967a643cd8018cfc013f67ced573" />
        </github>
    </packageSourceCredentials>
</configuration>